body {
  background: var(
    --gradiente-dark,
    linear-gradient(290deg, #3f006c 0.89%, #000 99.59%)
  );
}

main {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  margin: 80px 80px;
  width: 1500px;
  height: 740px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--brand_primary_100);
  border-radius: 24px;
}

.text_with_button {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
}
.text {
  font: var(--body-body-lg);
  text-align: center;
  width: 532px;
}

button {
  display: flex;
  font: var(--headline-headline-xxs);
  justify-content: center;
  width: 250px;
  padding: 9px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--gray_scale_50);
  background: linear-gradient(135deg, #15e768 -6.32%, #8b15e7 117.77%);
}
