@media screen and (max-width: 450px) {
    main {
        margin: 40px 8px;
        padding: 8px 8px 32px 8px;
        gap: 8px;


        section:nth-of-type(2) {
            ul {
                justify-content: space-between;

                li {
                    width: 35%;
                }
            }
        }

        section:nth-of-type(3) {
            div {     
                h1 {
                  font: var(--headline-headline-sm);
                }
            
                h2 {
                  font: var(--headline-headline-xxs);
                }
            }
        }
    }
}