.off-screen-menu {
    background-color: var(--gray_scale_950);
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -450px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    align-items: center;
    text-align: center;
    transition: .3s ease;
    z-index: 10;

    a {
        cursor: pointer;
        background: var(--gradiente-padrao);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font: var(--headline-headline-md);
        text-decoration: none;
    }
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

@media screen and (max-width: 450px) {
    .off-screen-menu {
        max-width: 200px;
    }
}