.aboutUs_our_values_section {
  background-color: var(--gray_scale_950);
  margin-top: 472px;
  padding: 17px;
}

.aboutUs_our_values_section_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font: var(--headline-headline-sm);
  background: var(--gradient-primarycolor-incline1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pipe {
  font-size: 35px;
}
