.aboutUs_our_team_section {
  display: flex;
  background-color: var(--brand_primary_100);
  padding: 0px 64px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 80px;
}
.aboutUs_our_team_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.our_team_title {
  font: var(--headline-headline-lg);
  background: var(
    --gradiente-padrao,
    linear-gradient(180deg, #15e768 0%, #8b15e7 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.our_team_title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 4px;
    background: linear-gradient(to right, #4db8ff, #9b51e0);
}



.our_team_text {
  font: var(--body-body-lg);
  width: 597px;
}

