.aboutUs_emerging_tecs_section {
  display: flex;
  background-color: var(--brand_primary_100);
  padding-bottom: 120px;
  justify-content: center;
  gap: 64px;
}

.emerging_tecs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.emerging_tecs_title {
  font: var(--headline-headline-lg);
  background: var(
    --gradiente-padrao,
    linear-gradient(185deg, #15e768 0%, #8b15e7 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.emerging_tecs_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 4px;
  background: linear-gradient(to right, #4db8ff, #9b51e0);
}
.emerging_tecs_text {
  font: var(--body-body-lg);
  width: 321px;
}
