.aboutUs_our_commitment_section {
  display: flex;
  background-color: var(--brand_primary_100);
  padding-bottom: 120px;
  justify-content: center;
}
.our_commitment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.our_commitment_title {
  font: var(--headline-headline-lg);
  background: var(
    --gradiente-padrao,
    linear-gradient(180deg, #15e768 0%, #8b15e7 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.our_commitment_title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 187.5px;
  height: 3px;
  background: linear-gradient(to right, #00bfff, #8a2be2);
}

.our_commitment_text {
  font: var(--body-body-lg);
  width: 1312px;
  align-items: center;
}
