.hero_background_image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero_main_foreground {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 64px;
  padding-top: 230px;
  padding-bottom: 474px;
}
.hero_main_title {
  font: var(--headline-headline-xxl);
  color: var(--gray_scale_50);
  margin-right: 12px;
}
.hero_main_text {
  color: var(--gray_scale_50);
  font: var(--body-body-lg);
  width: 560px;
  margin-top: 20px;
}
