.our_services_section {
  background-color: var(--brand_primary_100);
  padding: 120px 0px 120px 0px;
}
.our_services_title {
  text-align: center;
  font: var(--headline-headline-lg);
  background: var(--gradient-primarycolor-greatersecondarycolor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our_services_content {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 5.714vw;
}

.box_one h3,
.box_two h3,
.box_three h3,
.box_four h3 {
  font: var(--headline-headline-xs);
  color: var(--gray_scale_950);
}
.box_one p,
.box_two p,
.box_three p,
.box_four p {
  font: var(--body-body-sm);
  color: var(--gray_scale_950);
  width: 183px;
  text-align: center;
}
.box_one,
.box_two,
.box_three,
.box_four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--cards-box-shadow);
  width: fit-content;
  padding: 2.643vw 2vw 2.643vw 2vw;
  border-radius: 16px;
}
.our_services_boxes {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.857vw;
}
.our_services_explain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_services_explain_text {
  font: var(--body-body-lg);
  width: 440px;
}
.our_services_explain_button {
  display: flex;
  width: 323px;
  padding: 9px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: none;
  background: var(--gradient-primarycolor-greatersecondarycolor);
  border-radius: 8px;
  cursor: pointer;
  font: var(--headline-headline-xxs);
}
