* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

:root {
  /*COLORS */

  /* Gray scale */
  --gray_scale_50: #f6f6f6;
  --gray_scale_100: #e7e7e7;
  --gray_scale_200: #d1d1d1;
  --gray_scale_300: #b0b0b0;
  --gray_scale_400: #888888;
  --gray_scale_500: #6d6d6d;
  --gray_scale_600: #5d5d5d;
  --gray_scale_700: #4f4f4f;
  --gray_scale_800: #454545;
  --gray_scale_900: #3d3d3d;
  --gray_scale_950: #000000;
  /* Brand-Primary */

  --brand_primary_50: #faf4ff;
  --brand_primary_100: #f4e6ff;
  --brand_primary_200: #ead2ff;
  --brand_primary_300: #daaeff;
  --brand_primary_400: #c47aff;
  --brand_primary_500: #ad48ff;
  --brand_primary_600: #9a24f9;
  --brand_primary_700_original: #8b15e7;
  --brand_primary_800: #7016b3;
  --brand_primary_900: #5c1390;
  --brand_primary_950: #3f006c;

  /* Brand-secondary */
  --brand_secondary_50: #effef4;
  --brand_secondary_100: #d9ffe7;
  --brand_secondary_200: #b6fcd0;
  --brand_secondary_300: #7cf9ac;
  --brand_secondary_400: #3deb81;
  --brand_secondary_500_original: #15e768;
  --brand_secondary_600: #09b04c;
  --brand_secondary_700: #0b8a3e;
  --brand_secondary_800: #0f6c35;
  --brand_secondary_900: #0e592e;
  --brand_secondary_950: #013216;

  /* GRADIENTS */
  --gradient-primarycolor-greatersecondarycolor: linear-gradient(
    180deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradient-secondarycolor-greaterprimarycolor: linear-gradient(
    180deg,
    rgba(139, 21, 231, 1) 0%,
    rgba(21, 231, 104, 1) 100%
  );
  --gradient-primarycolor-incline1: linear-gradient(
    99.87deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradient-secondarycolor-80percent: linear-gradient(
    177.16deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradient-purple950-greater-black950: linear-gradient(
    -69.58deg,
    rgba(63, 0, 108, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  --gradiente-destaque-diagonal-pretotoroxo: linear-gradient(
    290deg,
    #3f006c 0%,
    #000 100%
  );
  --gradiente-padrao-diagonal: linear-gradient(
    134.51deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-padrao-diagonal-roxo: linear-gradient(
    118.71deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-padrao-diagonal-verde: linear-gradient(
    117.75deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-padrao-vertical-verde: linear-gradient(
    -0.49deg,
    rgba(139, 21, 231, 1) 0%,
    rgba(21, 231, 104, 1) 100%
  );
  --gradiente-hex-cima: linear-gradient(
    180deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-hex-baixo: linear-gradient(
    0deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-hex-direita: linear-gradient(
    270deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );
  --gradiente-hex-esquerda: linear-gradient(
    90deg,
    rgba(21, 231, 104, 1) 0%,
    rgba(139, 21, 231, 1) 100%
  );

  /* Effects */
  --cards-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

  /*FONTS*/

  --body-body-xxl: 400 35px/120% "Roboto", sans-serif;
  --body-body-xl: 400 27px/120% "Roboto", sans-serif;
  --body-body-lg: 400 21px/120% "Roboto", sans-serif;
  --body-body-md: 400 16px/120% "Roboto", sans-serif;
  --body-body-sm: 400 12px/120% "Roboto", sans-serif;
  --body-body-xs: 400 9px/120% "Roboto", sans-serif;

  --headline-headline-xxs: 700 16px/160% "Roboto", sans-serif;
  --headline-headline-xs: 700 20px/160% "Roboto", sans-serif;
  --headline-headline-sm: 700 25px/160% "Roboto", sans-serif;
  --headline-headline-md: 700 31px/160% "Roboto", sans-serif;
  --headline-headline-lg: 700 39px/160% "Roboto", sans-serif;
  --headline-headline-xl: 700 49px/160% "Roboto", sans-serif;
  --headline-headline-xxl: 700 61px/160% "Roboto", sans-serif;
}
