html {
    background-color: var(--brand_primary_100);
}

html, body {
    overflow-x: hidden;
}

h2 {
    font: var(--headline-headline-lg);
    background: var(--gradiente-padrao);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

@keyframes pulsar {
    0% {
        filter: saturate(0);
    }
    50% {
        filter: saturate(1);
    }
    100% {
        filter: saturate(2);
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;

    /* Parágrafo do banner */
    section:nth-of-type(1) {
        top: 0;

        img {
            z-index: -1;
            width: 100%;
            height: 100vh;
            position: relative;
            display: inline-block;
            animation: pulsar 10s infinite alternate;
        }
        
        div {
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);
            width: 30vw;
            
            h1 {
                font: var(--headline-headline-xxl);
                color: var(--gray_scale_50);
            }

            p {
                font: var(--body-body-lg);
                color: var(--gray_scale_50);
            }
        }
    }

    section:nth-child(2), section:nth-child(3), section:nth-child(5), section:nth-child(6), section:nth-child(7) {
        margin: 0px 64px;
    }

    /* Por que nos escolher */
    section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.0834vw;
        background-color: var(--brand_primary_100);

        span {
            display: flex;
            align-items: center;
            justify-content: space-around;

            div {
                width: 25%;
                padding: 20px 0px;

                h3 {
                    font: var(--headline-headline-sm);
                    color: var(--gray_scale_950);
                }

                p {
                    font: var(--body-body-md);
                    color: var(--gray_scale_950);
                }
            }
        }
    }

    /* Alguns dos parceiros da TechNova */
    section:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.0834vw;

        div {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    /* Texto motivador */
    section:nth-of-type(4) {
        background: var(--gradiente-destaque-diagonal-pretotoroxo);
        margin: 0;
        padding: 7% 5%;
        display: flex;
        justify-content: center;
        width: 100%;

        p {
            font: var(--headline-headline-lg);
            color: var(--gray_scale_50);
            width: 40vw;
            text-align: center;
        }
    }

    /* Serviços */
    section:nth-of-type(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.0834vw;

        span[hidden] {
            display: none !important;
        }

        span:nth-of-type(1) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2.0834vw;

            .services-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 4.167vw;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 0.834vw;
                    background-color: var(--brand_primary_100);
                    box-shadow: var(--cards-box-shadow);
                    padding: 32px 4px;
                    border-radius: 16px;

                    h4 {
                        font: var(--headline-headline-xs);
                        color: var(--gray_scale_950);
                    }
                    
                    p {
                        font: var(--body-body-md);
                        color: var(--gray_scale_950);
                    }
                }
            }

            .services-paragraph {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4.167vw;
                width: 150%;

                p {
                    text-align: center;
                    width: 30vw;
                    font: var(--body-body-lg);
                }

                button {
                    cursor: pointer;
                    width: 20vw;
                    font: var(--headline-headline-xxs);
                    border: none;
                    background: var(--gradiente-padrao-diagonal);
                    color: var(--gray_scale_50);
                    border-radius: 8px;
                    padding: 9px 20px;
                    box-shadow: var(--botao-box-shadow);
                    transition: background 0.5s linear;
                }

                button:hover {
                    background: var(--brand_primary_700_original);
                }

                button:active {
                    background: var(--brand_secondary_500_original);
                    box-shadow: none;
                }

                button:focus-visible {
                    outline: 3px solid var(--brand_secondary_500_original);
                }
            }
        }

        span:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.875vw;

            div:nth-of-type(1) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 1.875vw;
                justify-items: center;

                div:nth-of-type(9) {
                    grid-column: 2;
                }

                div:nth-of-type(10) {
                    grid-column: 3;
                }

                .card-big {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 1.25vw;
                    background-color: var(--brand_primary_100);
                    box-shadow: var(--cards-box-shadow);
                    padding: 32px 24px;
                    height: 410px;
                    border-radius: 16px;
    
                    h4 {
                        font: var(--headline-headline-xs);
                        color: var(--gray_scale_950);
                    }
                    
                    p {
                        font: var(--body-body-md);
                        color: var(--gray_scale_950);
                    }
                }
            }

            button {
                cursor: pointer;
                width: 20vw;
                height: 44px;
                font: var(--headline-headline-xxs);
                border: none;
                background: var(--gradiente-padrao-diagonal);
                color: var(--gray_scale_50);
                border-radius: 8px;
                padding: 9px 20px;
                box-shadow: var(--botao-box-shadow);
                transition: background 0.5s linear;
                align-self: center;
            }

            button:hover {
                background: var(--brand_primary_700_original);
            }

            button:active {
                background: var(--brand_secondary_500_original);
                box-shadow: none;
            }

            button:focus-visible {
                outline: 3px solid var(--brand_secondary_500_original);
            }
        }
    }

    /* Atendimento */
    section:nth-of-type(6) {
        display: flex;
        flex-direction: column;
        gap: 2.0834vw;

        span:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 1.25vw;

            p {
                font: var(--body-body-lg);
                color: var(--gray_scale_950);
            }
        }

        span:nth-child(2) {
            display: flex;
            justify-content: space-between;

            .treatments_paragraphs {
                display: flex;
                flex-direction: column;
                gap: 2.0834vw;
                width: 35vw;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 1.67vw;
                    padding: 0 32px;

                    h3 {
                        font: var(--headline-headline-sm);
                        color: var(--gray_scale_950);
                    }

                    p {
                        font: var(--body-body-md);
                        color: var(--gray_scale_950);
                    }
                }
            }
        }
    }

    /* Avaliações */
    section:nth-of-type(7) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.0834vw;
        margin-bottom: 80px;

        span {
            display: flex;
            justify-content: space-between;
            gap: 1.67vw;
            width: 100%;

            .reviews_container {
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 32px;
                width: 30vw;

                img {
                    height: 16px;
                    align-self: flex-start;
                }

                .reviews_paragraph {
                    font: var(--body-body-md);
                    color: var(--gray_scale_950);
                }

                .reviews_infos {
                    display: flex;
                    gap: 0.834vw;
                    align-items: center;

                    img {
                        height: 56px;
                    }
                }

                .reviews_text {
                    display: flex;
                    flex-direction: column;

                    h5 {
                        font: var(--headline-headline-xxs);
                        color: var(--gray_scale_950);
                    }

                    p {
                        font: var(--body-body-sm);
                        color: var(--gray_scale_950);
                    }
                }
            }
        }
    }
}